/* Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Variables */
:root {
    --black: #393939;
    --grey: #4a4a4a;
    --white: #ffffff;
    --greyish-white: #b9b9b9;
    --blue: #37528c;
    --error-red: #8c3737;
}

/* Global */
*{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    /* color: var(--white); */
    /* transition: 0.2s ease; */
}

::placeholder {
    color: var(--greyish-white)
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    height: 100vh;
    overflow: hidden;
}

button {
    cursor: pointer;
}

/* Generic */

.box {
    color: var(--greyish-white);
    background-color: var(--grey);
    padding: 10px;
    outline: none;
    border:none;
    border-radius: 2px;
}

button.box:hover {
    color: var(--white);
}

/* Right and left section */
.right {
    background-color: var(--black);
    flex: 4;
    height: 100%;
    padding: 25px;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow: auto;
}

.upper-container {
    display: flex;
    flex-direction: column;
    background-color: var(--black);
    gap: 15px;
    position: sticky;
    padding-top: 25px;
    padding-bottom: 10px;
    top:0;
}

.left {
    flex: 1;
    min-height: 100%;
    min-width: 200px;
    background-color: var(--grey);
    padding: 25px 10px;
    overflow: auto;
}

/* Path and search boxes */
.inputs {
    display: flex;
    gap: 15px;
}

#path {
    flex: 4;
    color: var(--greyish-white);
    padding-left: 15px;
}

#path:focus-visible {
    color: var(--white)
}

#search-box {
    flex: 1;
    color: white !important;
}

/* View options, sort and filter */
.options {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.order {
    display: flex;
    gap: 15px;
}

.order > button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

.view {
    display: flex;
    align-items: center;
    gap: 5px;
}

.view > button {
    padding: 10px 10px 6px 10px;
    height: max-content;
    background-color: transparent !important;
}

.view > button.active {
    background-color: var(--grey) !important;
    color: var(--white) !important;
}

/* nodes */
.list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-block: 20px;
    margin-top: -10px;
}

::-webkit-scrollbar {
    width: 5px;
}  

::-webkit-scrollbar-track {
    background-color: rgb(66, 66, 66);
}
   
::-webkit-scrollbar-thumb {
    background: grey;
    transition: 0.2s ease;
}
  
::-webkit-scrollbar-thumb:hover {
    background: rgb(102, 102, 102); 
}


.node {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--greyish-white);
    padding: 10px;
    border-radius: 3px;
    user-select: none;
}

.node_name {
    color: var(--white) !important;
    display: flex;
    align-items: center;
    gap: 5px;
}

.node_type {
    color: var(--greyish-white) !important;
}

.node_icon {
    color: var(--greyish-white) !important;
}

.node:hover {
    background: var(--grey);
}

.hide {
    display: none;
}

#back-button, #reload-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

#reload-button {
    margin-left: -20px;
    border-radius: 0 2px 2px 0;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
}

#back-button {
    margin-right: -20px;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    z-index: 2;
    border-radius: 2px 0 0 2px;
}

.create {
    background-color: var(--blue);
    color: var(--greyish-white);
    width: max-content;
    aspect-ratio: 1;
    border-radius: 50%;
    border: none;
    outline: none;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    transition: rotate 0.5s ease;
}

.create:hover {
    color: var(--white);
}

dialog {
    border: none;
    color: white !important;
    background-color: var(--black) !important;
    width: 300px;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.8);
}

.submit {
    background: var(--blue);
    color: var(--white);
    outline: none;
    border: none;
    padding: 10px 15px;
}

#create_dialog > form, #file_transfer_form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

#create_dialog > form > input[type="text"] {
    color: var(--white) !important;
}

input[type="radio"]
{
    outline: none;
}

.error {
    background-color: var(--error-red) !important;
}

*:disabled {
    cursor:not-allowed;
}

#roomID, #file_path {
    color: var(--white);
}

input[readonly]
{
    color: var(--greyish-white)!important;
    cursor: pointer;
}

label {
    color: var(--white);
}

.tag {
    color: var(--white);
    cursor: pointer;
}